
@import url('./fonts.css');


* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}


nav {
    height: 50px;
    background-color: #212121;
}

.menu {
    position: fixed;  /* фиксируем навигацию */
    top: 0;           /* фиксируем к верхнему краю окна */
    z-index: 1000;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    background-color: #212121; 
}

.menu .menu_limk {
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100% ;
   height: 84px;
   background-color: rgba(0,0,0, .6);  /* не используем opacity, т.к. распространится на все элементы*/
    /* z-index: 2; */
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    font-size: 13px;
    color: #ffffff;
    font-weight: 250;
    margin-top: 6px;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
    text-align: right;
    margin-top: 16px;
}

.subheader .subheader_phone {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    margin-top: 8px;
    line-height: 12px;
}

.subheader .subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0px rgba(0,0,0,0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    filter: drop-shadow(0.707px 0.707px 0px rgba(0,0,0,0.21));

}

.promo {
    min-height: 800px;
    background: url('../img/main_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
    /* transform: translateY(-84px); */
    /* z-index: 1; */
}

.promo .promo_header {
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    line-height: 60px;

}

.promo .promo_subheader {
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descript {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -4px 0px rgba(0,0,0,0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #1eacc7 0%, #4ce2ff 100%);
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
}

.reason {
    padding: 71px 0 65px 0;
}


.label {
    line-height: 25px; 
    width: 112px;
    height: 25px;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 250;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-top: 44px;
    font-size: 38px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    text-align: center;
}

.reason_block {
    margin-left: 80px;
    display: flex;
    flex-direction: row; 
    padding-top: 40px;

    /* 
    justify-content: center;
    align-items: center;
    margin-top: 35px; */
}

.reason_description {
    margin-left: 26px;
    width: 343px;
}

.row > .col-md-6:nth-of-type(2) > .reason_block {
     margin-left: 20px;
}

.reason .reason_title {
    font-size: 17px;
    line-height: 21px;
    color: #1eacc7;
    font-weight: 400;
    text-align: left;

    text-align: justify;
}

.reason .reason_text {
    font-size: 17px;
    line-height: 21px;
    color: #263b3f;
    font-weight: 400;

    text-align: justify;
}